# Node
node_modules/
frontend/node_modules/

# Build output
dist/
frontend/dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
venv/
env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment files
.env
.env.local

# Temporary
*.tmp

*.pdf
*.docx